<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-chartboost"
        version="1.0.0"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginChartboost</name>
    <js-module name="chartboost" src="www/CordovaPluginChartboost.js">
        <clobbers target="window.chartboost" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaPluginChartboost">
                <param name="ios-package" value="CordovaPluginChartboost" />
            </feature>
        </config-file>
        <source-file src="src/ios/CordovaPluginChartboost.m" />
    </platform>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
        <feature name="CordovaPluginChartboost">
            <param name="android-package" value="com.unitedcommand.cordova.plugin.chartboost.CordovaPluginChartboost" />
        </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/CordovaPluginChartboost.java" target-dir="src/com/unitedcommand/cordova/plugin/chartboost/CordovaPluginChartboost" />
        <source-file src="src/android/chartboost.jar" target-dir="libs" />
        <framework src="com.google.android.gms:play-services-ads:8.4.0" />
    </platform>
</plugin>
